<a href="https://colab.research.google.com/github/JairGF05/pandas_series_dataframes/blob/main/series_dataframes_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
#Index permite saber con que indice identificar a cada elemento, Navas con el 1, Mbappe con el 7, etc.
players = pd.Series(['Navas', 'Mbappe', 'Neymar', ' Messi'], index = [1, 7, 10, 30])
players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [4]:
#En caso de no definir indices pandas asigna una lista ordenada que inicia desde cero
pd.Series(['Navas', 'Mbappe', 'Neymar', ' Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [5]:
#Tambien se pueden definir por medio de un diccionario llave: valor
dic_players = {
    1: 'Navas',
    7: 'Mbappe',
    10: 'Neymar',
    30: 'Messi'
}

dic_players

{1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}

In [6]:
dic_players[7]

'Mbappe'

In [7]:
pd.Series(dic_players)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [8]:
#Otro tipo de diccionarios con más caraacterísticas
players_info = {
    'jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
    'altura': [1.83, 1.70, 1.75, 1.65],
    'goles':[2, 200, 200 , 200]
    
}
players_info

{'jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
 'altura': [1.83, 1.7, 1.75, 1.65],
 'goles': [2, 200, 200, 200]}

In [9]:
#Pasar el diccionario a un dataframe
players_dataframe = pd.DataFrame(players_info, index=[1,7,10,30])
players_dataframe

   jugador  altura  goles
1    Navas    1.83      2
7   Mbappe    1.70    200
10  Neymar    1.75    200
30   Messi    1.65    200

In [11]:
#ingresar por indice de columnas
df_players = pd.DataFrame(players_info)
df_players

  jugador  altura  goles
0   Navas    1.83      2
1  Mbappe    1.70    200
2  Neymar    1.75    200
3   Messi    1.65    200

In [13]:
#PoR columnas
df_players.columns

Index(['jugador', 'altura', 'goles'], dtype='object')

In [14]:
#Por filas
df_players.index

RangeIndex(start=0, stop=4, step=1)